@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");


$breakpoint: 1000px;
.header-container-about {

  position: relative;


  .header-menu {

    position: absolute;
    left: 0;
    top: 100px;

    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color: #626262;
    font-weight: 600;
    text-transform: uppercase;

    li {
      margin: 10px 0;
    }
  }

  .header-text {
    font-size: 15vw;
    text-transform: uppercase;
    text-align: left;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;

    @media screen and (max-width: $breakpoint) {
      font-size: 25vw;
      margin-bottom: 200px;
    }

  }
}

.lineParent {
  overflow: hidden;

  .lineChildren {
    transform: translate(0, 500px);
  }
}

.image-face {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: auto;
  height: 70%;
  z-index: -1;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.sub-text {
  margin-top: 80px;
  font-size: 1.5vw;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 50px;
  @media screen and (max-width: $breakpoint) {
    font-size: 3vw;
  }
}



$breakpoint: 1000px;



